.projects{
    padding: 60px 40px;
}
.container{
    width: 1200px;
    margin: auto;
}
.section-title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.project-row>h2{
    margin-bottom: 20px;
    margin-top: 40px;
}
.projects-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project-item{
    position: relative;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}
.project-thumbnail img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: #f1f1f1;
    border-radius: 4px;
}
.project-name{
    position: absolute;
    top: 20px;
    left: 25px;
    color: #333;
    font-size: 20px;
    font-weight: 500;
}
.project-btns{
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 4px 0;
    width: 48%;
    border-radius: 4px;
    border: none;
    margin-top: 12px;
    font-size: 16px;
    border: 2px solid black;
    background-color: transparent;
    text-align: center;
}
.github{
    border-color: #9DAAF2;
    color: #9DAAF2;
}
.demo{
    background-color: #9DAAF2;
    color: #fff;
    border-color: #9DAAF2;
}