.hero{
    margin-top: 20px;
}
.hero .container{
    /* background-color: #1d9de7; */
    width: 80%;
    margin: auto;
    padding: 100px;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.name{
    color: #1d9de7;
}
.hero h1{
    font-size: 52px;
}
.hero h2{
    font-size: 48px;
}