@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ol,ul{
	list-style: none;
}
a,a:hover{
	text-decoration: none;
	color: initial;
}

body{
	background: #fff;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
